
.PublishersMain {
    background-color: #fff;
	border-radius: 16px;
	padding: 2px 24px;
	margin: 0 auto;
	max-width: 40%; 
	margin-bottom: 24px;
    margin-top: 22px;
}

.PublisherItem {
    margin-top: 10px;
	background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 95%;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }

.Header {
    font-size: 35px;
    font-weight: bold;
    margin: auto;
}

.Description {
    font-size: 25px;
    margin-bottom: 20px;
 
}

.HeaderBlock {
    max-width: 250px;
    margin-bottom: 10px;
}

.DeletePublisher {
    height: 25px;
    background-color: #ff0052;
    width: 100px;
    text-align: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.DeletePublisher:hover {
    color: black;
}

.DeletePublisher:after {
    color: #fff;
}



