.label-text {
    color: #1c1d1e;
    font-family: "Roboto-Regular", sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0 0 5px;
    display: block;
    line-height: 2;
    font-weight: 700;
	font-size: 16px;
	font-style: inherit;
}

.label-ref {
    color: #000000;
    font-family: "Roboto-Regular", sans-serif;
    text-rendering: optimizeLegibility;
    display: block;
    line-height: 2;
    margin-top: 5px;
    text-decoration: underline;
	font-size: 18px;
    font-weight: 700;
    cursor: pointer;
	font-style: inherit;
}